.App {
  height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 100vw;
  height: 70vh;
  position: relative;
  border-bottom: 1px rgb(206, 206, 206) solid;
}

#graph {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}
